node_modules
.next
.husky
coverage
.prettierignore
.stylelintignore
.eslintignore
stories
storybook-static
*.log
playwright-report
.nyc_output
test-results
junit.xml
docs
.idea
.vscode
.DS_Store
dist
build
tmp
temp
.cache
.env.local
.env.development.local
.env.test.local
.env.production.local
.env
*.tgz
*.zip
*.tar.gz
*.rar
*.7z
example
temp
docs